<div style="height: 100%; width: 100%">
<div class="scene">
    <img src="{{SelectedShirt?.imageUrl}}" alt="{{SelectedShirt?.productName}}" class="img-shirt" />
</div>
<div class="overlay" *ngIf="SelectedTie">
    <a href="#" class="icon" title="User Profile">
        <img src="{{SelectedTie?.fullImageUrl}}" alt="{{SelectedTie?.productName}}"  /> 
    </a>
</div>
<div class="overlay" *ngIf="SelectedCuff">
        <a href="#" class="icon-cuff" title="User Profile">
            <img src="{{SelectedCuff?.fullImageUrl}}" alt="{{SelectedCuff?.productName}}" style="width: 45px;height: 45px;" /> 
        </a>
</div>
</div>